@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

header .links {
    display: flex;
    gap: 30px;
}

header .links a {
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding-bottom: 2px;
}

header .links .active {
    border-bottom: 2px solid #E1C762;
}

header .links a:hover {
    border-bottom: 2px solid #E1C762;
}

header .fa-bars {
    font-size: 24px;
    display: none;
}

.section {
    width: 100%;
    height: 100vh;
    background-image: url(./sectionbg.jpg);
    background-size: cover;
    padding: 100px 300px;
}

.section .about {
    width: 599px;
    height: 415px;
    padding: 30px;
    background-color: white;
    position: relative;
    z-index: 10;
    box-shadow: -30px 30px 0 10px #ffca01;
}

.section .about h2 {
    font-size: 55px;
    padding-top: 25px;
}

.section .about p {
    font-size: 20px;
    padding-top: 20px;
}

.section .about .link {
    font-size: 16px;
    padding-top: 24px;
}

.section .about .link a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.section .about button {
    margin-top: 32px;
    padding: 20px 50px;
    background-color: white;
    border: 2px solid #11111d;
    font-weight: 500;
    color: #11111d;
    font-size: 16px;
}

.section .about button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.section_2 {
    width: 100%;
    height: 477px;
    background-color: #FFCA01;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
}

.section_2 h2 {
    font-size: 55px;
    text-align: center;
}

.section_2 p {
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
}

.section_2 button {
    padding: 20px 57px;
    margin-top: 45px;
    background-color: #000000;
    border: none;
    font-size: 16px;
    color: white;
}

.section_2 button:hover {
    background-color: white;
    color: #000000;
    cursor: pointer;
}

.our_services {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 125px;
    padding-bottom: 50px;
}

.our_services h2 {
    font-size: 55px;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    padding-top: 105px;
}

.our_services .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 2%;
}


.our_services .cards .card_item {
    width: 270px;
    height: 372px;
    background-color: white;
    padding: 30px;
}

.our_services .cards .card_item img {
    width: 75px;
}

.card_item h4 {
    font-size: 20px;
    padding-top: 23px;
}

.card_item p {
    padding-top: 17px;
    padding-bottom: 16px;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.card_item a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #FFCA01;
}

.card_item a:hover {
    border-bottom: 1px solid black;
}

.site_misson {
    width: 100%;
    height: 762px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site_misson .container {
    width: 980px;
    height: 629px;
    display: flex;
}

.site_misson .container .layout {
    width: 570px;
    height: 629px;
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.site_misson .container .layout p {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

.site_misson .container .layout p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.site_misson .container .layout h5 {
    font-family: "Titillium Web";
    font-size: 20px;
}

.site_misson .container .layout .subs {
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.site_misson .container .layout img {
    width: 33px;
}

.site_misson .container .layout_img {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3854207/images/rt.jpg);
    width: 570px;
    height: 629px;
}

.acces_services {
    width: 100%;
    height: 606px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.444), rgba(0, 0, 0, 0.444)), url(./man.jpg);
    padding: 100px 15%;
    background-size: cover;
    color: white;
}

.acces_services h2 {
    font-size: 55px;
}

.acces_services p {
    font-size: 20px;
    padding-top: 45px;
}

.acces_services p a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.acces_services p a:hover {
    border-bottom: 2px solid blue;
}

.acces_services button {
    padding: 20px 60px;
    margin-top: 32px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 16px;
    color: white;
}

.acces_services button:hover {
    background-color: white;
    color: gray;
    cursor: pointer;
}

/* ================media=================== */

@media screen and (max-width:1125px) {
    .section {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
    }
}

@media screen and (max-width:1040px) {
    .site_misson .container {
        width: 90%;
        height: 100% !important;
    }

    .site_misson .container .layout .subs {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .site_misson {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .site_misson .container {
        flex-direction: column;
        height: auto;
    }

    .site_misson .container .layout {
        height: auto;
        width: 100%;
    }

    .site_misson .container .layout_img {
        height: 800px;
        background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3854207/images/rt.jpg);
        background-position: center;
    }
}

@media screen and (max-width:715px) {
    .section .about {
        width: 80%;
        height: auto;
    }

    .section .about h2 {
        font-size: 35px;
    }

    .section .about p {
        font-size: 16px;
    }

    .section .about button {
        padding: 10px 25px;
        font-size: 14px;
    }
}


@media screen and (max-width:551px) {
    header .links {
        display: none;
    }

    header .fa-bars {
        display: block;
    }
}

@media screen and (max-width:490px) {
    .section_2 {
        height: auto;
        padding: 50px 5%;
    }

    .section_2 h2 {
        font-size: 35px;
    }

    .section_2 p {
        font-size: 16px;
    }

    .section_2 button {
        padding: 10px 28px;
        margin-top: 35px;
        font-size: 14px;
    }
}